<ion-header>
    <ion-navbar>
        <ion-title>
            Ficha - Detalhes
        </ion-title>
        <ion-buttons end>
            <menu-component></menu-component>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-header>
               
                {{costumerName}}

                <ion-card-title>
                    <div *ngIf="0 > recordVO.total"> 
                        <ion-badge  color="secondary" item-end> Crédito de: {{(recordVO.total * -1)  | currency:'BRL':true}}</ion-badge>
                    </div>

                    <div *ngIf="recordVO.total >= 0">
                        <ion-badge  color="danger" item-end> Dívida de: {{recordVO.total  | currency:'BRL':true}}</ion-badge>
                    </div>
                </ion-card-title>
            
            </ion-card-header>

            <ion-list>
                <button ion-item (click)="openSaleSearch()">
                <ion-icon name="cart" item-start></ion-icon>
                Vendas
                </button>
            
                <button ion-item (click)="openPaymentSearch()">
                <ion-icon name="card" item-start></ion-icon>
                Pagamentos
                </button>
            </ion-list>

            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button small class="sale-button" color="secondary" round (click)="openSaleScreen()">
                            Vender 
                        </button>
                    </ion-col>

                    <ion-col col-6>
                        <button ion-button small color="default-blue" round (click)="openPaymentScreen()">
                            Receber
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card><br>

    <ion-card>
        <ion-card-header>
            Outras informações
        </ion-card-header>
        
        <ion-list>
            <button ion-item (click)="openHistoryCreditScreen()">
                <ion-icon name="logo-usd" item-start ></ion-icon>
                Histórico de crédito
            </button>
        </ion-list>  
    </ion-card><br>

    <ion-card>
        <ion-card-content>
            <ion-card-header>
                Dados atuais
            </ion-card-header>

            <ion-list>
                <ion-item>
                    <ion-input placeholder="Nome" type="text" [(ngModel)]="recordForm.costumer.name"></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-input placeholder="Sobrenome" type="text" [(ngModel)]="recordForm.costumer.lastName" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input placeholder="CPF" type="text" [brmasker]="{person: true}" [(ngModel)]="recordForm.costumer.cpf"></ion-input>
                </ion-item>
        
                <ion-item>
                    <ion-textarea placeholder="Informações adicionais" [(ngModel)]="recordForm.costumer.extraInformation"></ion-textarea>
                </ion-item>
            </ion-list>

            <button [disabled]="(!recordForm.costumer.name || !recordForm.costumer.lastName)" ion-button large color="default-blue" full icon-end (click)="update()">
                Atualizar 
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-card-content>

    </ion-card>

</ion-content>